@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* todo esto es para la imagen que quiero poner de fondo */
body {
  background-color: #f5ea91;
  background-repeat: no-repeat;
  background-size: cover; }

.header nav ul li {
  border: #f8d383 solid 1px; }

@keyframes pulse {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(0.7); }
  100% {
    transform: scale(0.99); } }

.header nav ul li:hover {
  background-color: #f6d06d;
  animation: pulse 0.7s infinite; }

.tituloyfoto {
  text-align: center;
  font-size: 60px;
  margin-top: 60px; }

footer {
  background: linear-gradient(0deg, hsl(46, 100%, 84%) 0%, #fff3b2 31%, #f7ffe3 100%);
  text-align: center;
  border: 2px #f8d383 solid; }

.footer {
  padding: 5px; }

.contacto {
  text-align: center; }

.imagenes {
  text-align: center;
  margin: 27px; }

.tamañofoto {
  width: 50%;
  border: solid #f8d383 2px; }

.imagenesVestidos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  text-align: center; }

.imagenesAccesorios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center; }

.imagenesMonos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center; }

.imagenesConjuntos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center; }

.imagenesVestidos div {
  border: 2px #f8d383 solid; }

.imagenesAccesorios div {
  border: 2px #f8d383 solid; }

.imagenesMonos div {
  border: 2px #f8d383 solid; }

.imagenesConjuntos div {
  border: 2px #f8d383 solid; }

.h1vestidos {
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 40px; }

.h1accesorios {
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 40px; }

.h1monos {
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 40px; }

.h1conjuntos {
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 40px; }

.imagenesindex {
  display: grid;
  grid-template-areas: "indexVestido indexVestido indexVestido"
 "indexVestido indexVestido indexVestido"
 "indexVestido indexVestido indexVestido"
 "indexMono indexConjunto indexAccesorio";
  grid-template-rows: 27% 27% 27% 27%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  margin-bottom: 400px; }

.indexVestido {
  grid-area: indexVestido;
  text-align: center; }

.indexMono {
  grid-area: indexMono;
  text-align: center; }

.indexConjunto {
  grid-area: indexConjunto;
  text-align: center; }

.indexAccesorio {
  grid-area: indexAccesorio;
  text-align: center; }

.fotoindex {
  width: 90%;
  border: solid #f8d383 2px; }


.fotoindex1 {
  width: 60%;
  border: solid #f8d383 2px; }

@media screen and (max-width: 1270px) {
  .imagenesVestidos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center; } }

.carousel-inner img {
  width: 100%;
  max-height: 460px;
  padding: 70px; }

.carousel-inner {
  height: 500px; }

.FooterRedes {
  display: inline-block; }

.containerContacto {
  border: solid 1px #fac57b;
  padding: 30px;
  margin: 50px;
  background-color: rgb(255, 255, 192); }

.containerSandalias {
  display: flex;
  text-align: center; }

.containerConjuntos {
  display: flex;
  text-align: center; }

.containerMonos {
  display: flex;
  text-align: center; }

.containerVestidos {
  display: flex;
  text-align: center; }

.containerCarrusel {
  display: flex;
  text-align: center;
  width: 2fr; }
